target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.swp
*.swo
.project
.classpath
.settings/

### Mac ###
.DS_Store

### Env ###
.env
*.log
